**/__pycache__
**/*.pyc
**/*.log
**/*#*
paper/submission_version/eaai22_bgmmwlf.pdf
paper/submission_version/eaai22_bgmmwlf.aux
paper/submission_version/eaai22_bgmmwlf.fls
paper/submission_version/eaai22_bgmmwlf.fdb_latexmk
paper/submission_version/eaai22_bgmmwlf.bbl
paper/submission_version/eaai22_bgmmwlf.blg
.pytest_cache/
*.png
!paper/submission_version/bruiser_vs_grow.png
!paper/submission_version/special_only_1_3_4_3_3_1_7_8_5_7.png
!paper/submission_version/special_only_4_5_8_8_4_8_3_3_3_5.png
.vscode/
paper/submission_version/.texpadtmp/
**/*.icloud
