kind: Namespace
apiVersion: v1
metadata:
  name: ludus

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ludus-data-many
  namespace: ludus
spec:
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  resources:
    requests:
      storage: 8Gi
  storageClassName: cephfs

---

apiVersion: batch/v1
kind: Job
metadata:
  name: plotting-data
  namespace: ludus
spec:
  template:
    spec:
      initContainers:
      - name: mkdir
        image: ubuntu:xenial
        command: ["mkdir", "-p", "/data/07/"]
        volumeMounts:
        - mountPath: "/data"
          name: data
      containers:
      - name: ludus
        image: ghcr.io/nathanielbd/ludus:git-4dbbe1a
        imagePullPolicy: Always
        command: ["pipenv", "run", "python3", "./plot.py", "/data/07/"]
        volumeMounts:
        - mountPath: "/data"
          name: data
      - name: debug
        image: ubuntu:xenial
        command: [ "/bin/bash", "-c", "--" ]
        args: [ "while true; do sleep 3600; done;" ]
        volumeMounts:
        - mountPath: "/data"
          name: data
      restartPolicy: Never
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: ludus-data-many
      nodeSelector:
        kubernetes.io/hostname: bellatrix
  backoffLimit: 4